/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*colors*/
/*font*/
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: local("Gilroy SemiBold"), local("Gilroy-SemiBold"), url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "Gilroy", sans-serif;
  color: #1D1D1D;
  overflow-x: hidden;
}

.code-container {
  width: 100%;
  max-width: 1680px;
  padding: 0 30px;
  margin: 0 auto;
}
@media (max-width: 991px) {
  .code-container {
    padding: 0 20px;
  }
}

.code-flex {
  display: flex;
}

.code-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}
@media (max-width: 991px) {
  .code-row {
    margin: 0 -15px;
  }
}

.code-col-2 {
  flex-shrink: 0;
  width: 50%;
  padding: 0 20px;
}
@media (max-width: 991px) {
  .code-col-2 {
    padding: 0 15px;
  }
}

.code-col-3 {
  flex-shrink: 0;
  width: 33.3333333333%;
  padding: 0 20px;
}
@media (max-width: 991px) {
  .code-col-3 {
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  .code-col-3.code-col-sm-2 {
    width: 50%;
  }
}
@media (max-width: 575px) {
  .code-col-3.code-col-sm-2 {
    width: 100%;
  }
}

.code-col-6 {
  flex-shrink: 0;
  width: 66.6666666667%;
  padding: 0 20px;
}
@media (max-width: 991px) {
  .code-col-6 {
    padding: 0 15px;
  }
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.bg-yellow {
  background-color: #E9FF34;
}

.bg-white {
  background-color: #ffffff;
}

.bg-black {
  background-color: #1D1D1D;
}

.code-btn {
  display: block;
  width: max-content;
  text-decoration: none;
  transition: all 0.25s;
}
.code-btn:hover, .code-btn:focus, .code-btn:active {
  text-decoration: none;
  outline: none;
  box-shadow: none;
}

.code-btn-yellow {
  background-color: #E9FF34;
  border: 0.5px solid #1D1D1D;
  border-radius: 130px;
  font-weight: 600;
  font-size: 25px;
  line-height: 31px;
  color: #1D1D1D;
}
@media (max-width: 991px) {
  .code-btn-yellow {
    font-size: 20px;
    line-height: 30px;
  }
}
@media (max-width: 575px) {
  .code-btn-yellow {
    font-size: 16px;
    line-height: 26px;
  }
}
.code-btn-yellow:hover {
  background-color: #ffe10c;
  color: #1D1D1D;
}

.code-btn-icon {
  display: flex;
  align-items: center;
  padding: 24px 25px 24px 35px;
}
@media (max-width: 575px) {
  .code-btn-icon {
    padding: 15px 20px;
  }
}
.code-btn-icon span {
  display: block;
  flex-shrink: 0;
  margin-left: 16px;
  width: 25px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../images/arrow-right.svg");
}
@media (max-width: 575px) {
  .code-btn-icon span {
    width: 20px;
    height: 20px;
  }
}

.code-form-group {
  margin-bottom: 34px;
}
.code-form-group input, .code-form-group textarea {
  border-radius: 0;
  width: 100%;
  padding: 10px;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.3;
  border: none;
  border-bottom: 1px solid #1D1D1D;
  background-color: transparent;
}
@media (max-width: 1680px) {
  .code-form-group input, .code-form-group textarea {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .code-form-group input, .code-form-group textarea {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .code-form-group input, .code-form-group textarea {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .code-form-group input, .code-form-group textarea {
    font-size: 12px;
    line-height: 14px;
    padding: 8px 0px;
  }
}
.code-form-group input:focus, .code-form-group input:active, .code-form-group textarea:focus, .code-form-group textarea:active {
  box-shadow: none;
  outline: none;
}
.code-form-group input::placeholder, .code-form-group textarea::placeholder {
  color: #1D1D1D;
  padding-top: 0;
}
.code-form-group textarea {
  resize: none;
}

.code-form-radio {
  display: block;
  margin: 0 0 30px 10px;
}
@media (max-width: 575px) {
  .code-form-radio {
    margin: 0 0 18px 5px;
  }
}
.code-form-radio input {
  display: none;
}
.code-form-radio label {
  display: flex;
  align-items: flex-start;
  font-size: 18px;
  line-height: 22px;
  margin: 0;
  padding: 0;
  position: relative;
  cursor: pointer;
}
@media (max-width: 767px) {
  .code-form-radio label {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .code-form-radio label {
    font-size: 12px;
    line-height: 14px;
  }
}
.code-form-radio label:after, .code-form-radio label:before {
  content: "";
  display: block;
  flex-shrink: 0;
  border-radius: 50%;
}
.code-form-radio label:before {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border: 1px solid #1D1D1D;
}
@media (max-width: 575px) {
  .code-form-radio label:before {
    width: 16px;
    height: 16px;
  }
}
.code-form-radio label:after {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 14px;
  height: 14px;
  background-color: #1D1D1D;
  opacity: 0;
  transition: all 0.25s;
}
@media (max-width: 575px) {
  .code-form-radio label:after {
    width: 8px;
    height: 8px;
    top: 4px;
    left: 4px;
  }
}
.code-form-radio input:checked + label:after {
  opacity: 1;
}

.modal-open {
  overflow: hidden;
}

.code-header {
  background-color: #1D1D1D;
  padding: 35px 0;
  transition: all 0.25s;
  z-index: 100;
}
.code-header.js-header {
  transform: translateY(0);
}
.code-header.js-header .code-header__logo-text {
  opacity: 0;
}
.code-header.js-header .code-header__logo-line {
  opacity: 0;
}
.code-header.fixed {
  position: sticky;
  top: 0;
  width: 100%;
  animation: slide-down 0.7s;
}
.code-header.fixed .code-header__logo-text {
  opacity: 1;
}
.code-header.fixed .code-header__logo-line {
  opacity: 1;
}
@media (max-width: 575px) {
  .code-header {
    padding: 25px 0;
  }
}
.code-header.open .code-header__logo-text {
  opacity: 1;
}
.code-header.open .code-header__logo-line {
  opacity: 1;
}
@media (max-width: 991px) {
  .code-header.open {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 50;
  }
  .code-header.open .code-header__wrap {
    position: relative;
  }
  .code-header.open .code-header__nav {
    position: absolute;
    left: 0;
    top: 80px;
  }
  .code-header.open .code-header__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .code-header.open .code-header__menu-item {
    margin: 0 0 23px;
  }
  .code-header.open .code-header__menu-item:last-child {
    margin-top: 22px;
  }
}
.code-header__wrap {
  align-items: center;
  justify-content: space-between;
}
.code-header__logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 22px;
  line-height: 1.2;
  color: #E9FF34;
}
@media (max-width: 1400px) {
  .code-header__logo {
    font-size: 18px;
  }
}
.code-header__logo:hover {
  text-decoration: none;
  color: #E9FF34;
}
.code-header__logo-icon {
  display: block;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/title-icon-yellow.svg");
}
@media (max-width: 1680px) {
  .code-header__logo-icon {
    margin-right: 15px;
  }
}
@media (max-width: 1199px) {
  .code-header__logo-icon {
    width: 26px;
    height: 26px;
    margin-right: 10px;
  }
}
@media (max-width: 991px) {
  .code-header__logo-icon {
    width: 22px;
    height: 22px;
  }
}
.code-header__logo-text {
  transition: all 0.25s;
}
.code-header__logo-line {
  display: block;
  width: 20px;
  height: 0;
  border-bottom: 1px solid #E9FF34;
  flex-shrink: 0;
  margin: 0 10px;
  transition: all 0.25s;
}
@media (max-width: 1400px) {
  .code-header__logo-line {
    margin: 0 8px;
    width: 16px;
  }
}
@media (max-width: 1199px) {
  .code-header__logo-line {
    margin: 0 5px;
    width: 12px;
  }
}
.code-header__menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .code-header__menu {
    display: none;
  }
}
.code-header__menu-item {
  margin-right: 40px;
}
@media (max-width: 1400px) {
  .code-header__menu-item {
    margin-right: 25px;
  }
}
@media (max-width: 1199px) {
  .code-header__menu-item {
    margin-right: 20px;
  }
}
.code-header__menu-item:last-child {
  margin-right: 0;
}
.code-header__menu-item.active a {
  color: #E9FF34;
}
.code-header__menu-item a {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s;
  color: #ffffff;
}
@media (max-width: 992px) {
  .code-header__menu-item a {
    font-size: 24px;
    line-height: 29px;
  }
}
.code-header__menu-item a:hover {
  text-decoration: none;
  color: #E9FF34;
}
.code-header__menu-join a {
  padding: 6px 18px;
  background-color: #E9FF34;
  color: #1D1D1D;
  border: 1px solid #E9FF34;
  border-radius: 20px;
}
.code-header__menu-join a:hover {
  border-color: #ffffff;
  background-color: #1D1D1D;
  color: #ffffff;
}
.code-header__burger {
  display: none;
}
@media (max-width: 991px) {
  .code-header__burger {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    padding: 6px 0;
  }
}
.code-header__burger span {
  display: block;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ffffff;
}
.code-header__burger span:last-child {
  width: 20px;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.code-main-block {
  padding: 34px 0;
}
@media (max-width: 575px) {
  .code-main-block {
    padding: 20px 0;
  }
}
.code-main-block.code-main-block_black {
  background-color: #1D1D1D;
}
.code-main-block.code-main-block_black .code-main-block__header-title,
.code-main-block.code-main-block_black .code-main-block__header-subtitle {
  color: #ffffff;
}
.code-main-block.code-main-block_black .code-main-block__header-icon {
  background-image: url("../images/title-icon-white.svg");
}
.code-main-block.code-main-block_yellow {
  background-color: #E9FF34;
}
.code-main-block.code-main-block_gray {
  background-color: #F6F5F4;
}
.code-main-block.code-main-block_preamble {
  padding-bottom: 0;
}
.code-main-block.code-main-block_preamble .code-accordion__header {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 600;
}
@media (max-width: 1199px) {
  .code-main-block.code-main-block_preamble .code-accordion__header {
    font-size: 26px;
  }
}
@media (max-width: 991px) {
  .code-main-block.code-main-block_preamble .code-accordion__header {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .code-main-block.code-main-block_preamble .code-accordion__header {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .code-main-block.code-main-block_preamble .code-accordion__header {
    font-size: 18px;
  }
}
.code-main-block__header {
  align-items: flex-start;
  margin-bottom: 85px;
}
@media (max-width: 1199px) {
  .code-main-block__header {
    margin-bottom: 50px;
  }
}
@media (max-width: 991px) {
  .code-main-block__header {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .code-main-block__header .code-col-3, .code-main-block__header .code-col-6 {
    width: 100%;
  }
}
.code-main-block__header .code-btn {
  margin-top: 80px;
  margin-bottom: -34px;
}
@media (max-width: 1199px) {
  .code-main-block__header .code-btn {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .code-main-block__header .code-btn {
    background-color: transparent;
    padding: 0;
    color: #E9FF34;
    font-weight: 600;
  }
  .code-main-block__header .code-btn span {
    display: none;
  }
}
.code-main-block__header-title {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.23;
  margin: 0;
}
@media (max-width: 1199px) {
  .code-main-block__header-title {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  .code-main-block__header-title {
    font-size: 24px;
  }
}
@media (max-width: 575px) {
  .code-main-block__header-title {
    font-size: 20px;
    line-height: 25px;
  }
}
.code-main-block__header-icon {
  display: block;
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  margin-right: 12px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: revert;
  background-image: url("../images/title-icon-black.svg");
}
.code-main-block__header-subtitle {
  font-weight: normal;
  font-size: 26px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}
@media (max-width: 1400px) {
  .code-main-block__header-subtitle {
    font-size: 22px;
  }
}
@media (max-width: 991px) {
  .code-main-block__header-subtitle {
    font-size: 18px;
    margin-top: 30px;
  }
}
@media (max-width: 575px) {
  .code-main-block__header-subtitle {
    font-size: 12px;
    line-height: 18px;
  }
}
.code-main-block__pdf {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 991px) {
  .code-main-block__pdf {
    display: none;
  }
}
.code-main-block__pdf .code-tabs__pdf {
  margin: 0;
  display: flex;
  justify-content: center;
  width: 513px;
  padding: 10px;
}
@media (max-width: 1199px) {
  .code-main-block__pdf .code-tabs__pdf {
    width: 450px;
  }
}

.code-main-banner {
  background-color: #1D1D1D;
  padding: 145px 0 52px;
}
@media (max-width: 991px) {
  .code-main-banner {
    padding: 100px 0 40px;
  }
}
@media (max-width: 575px) {
  .code-main-banner {
    padding: 60px 0 90px;
  }
}
.code-main-banner__wrap {
  position: relative;
}
.code-main-banner__text {
  font-weight: 300;
  font-size: 8.9285714286vw;
  line-height: 1.2;
  color: #E9FF34;
  position: relative;
  z-index: 2;
  width: max-content;
  text-align: center;
}
@media (max-width: 575px) {
  .code-main-banner__text {
    font-size: 13.3333333333vw;
  }
}
.code-main-banner__text.text1 {
  width: 24.7023809524vw;
  margin-right: 50vw;
  margin-left: auto;
}
@media (max-width: 575px) {
  .code-main-banner__text.text1 {
    width: 37.3333333333vw;
    margin-right: auto;
    margin-left: 3.2vw;
  }
}
.code-main-banner__text.text1:after {
  content: "";
  display: block;
  width: 32.2619047619vw;
  height: 0;
  border-bottom: 1px solid #E9FF34;
  position: absolute;
  transform: rotate(20.17deg);
  right: -32.1428571429vw;
  top: 11.9047619048vw;
}
@media (max-width: 575px) {
  .code-main-banner__text.text1:after {
    width: 28.8vw;
    transform: rotate(25.14deg);
    right: -29.3333333333vw;
    top: 14.6666666667vw;
  }
}
.code-main-banner__text.text2 {
  margin-right: 8.9285714286vw;
  margin-left: auto;
  margin-top: 0.7738095238vw;
  width: 8.3333333333vw;
}
@media (max-width: 575px) {
  .code-main-banner__text.text2 {
    width: 12.8vw;
    margin-left: 69.3333333333vw;
    margin-right: auto;
    margin-top: -3.7333333333vw;
  }
}
.code-main-banner__text.text3 {
  margin-right: 37.2619047619vw;
  margin-left: auto;
  margin-top: 4.1666666667vw;
  width: 42.2619047619vw;
  font-weight: 600;
  color: #ffffff;
  position: relative;
}
@media (max-width: 575px) {
  .code-main-banner__text.text3 {
    margin-left: 5.0666666667vw;
    margin-right: auto;
    margin-top: 24vw;
    width: 64vw;
  }
}
.code-main-banner__text.text3:before {
  content: "";
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/icon-yellow.svg");
  width: 11.9047619048vw;
  height: 10.7142857143vw;
  position: absolute;
  left: 3.2738095238vw;
  bottom: 5.6547619048vw;
  z-index: -1;
}
@media (max-width: 575px) {
  .code-main-banner__text.text3:before {
    width: 23.7333333333vw;
    height: 23.7333333333vw;
    left: 1.8666666667vw;
    bottom: -3.7333333333vw;
  }
}
.code-main-banner__text.text3:after {
  content: "";
  display: block;
  width: 22.0833333333vw;
  height: 0;
  border-bottom: 1px solid #E9FF34;
  position: absolute;
  transform: rotate(-37.67deg);
  right: -20.8333333333vw;
  bottom: 11.3095238095vw;
}
@media (max-width: 575px) {
  .code-main-banner__text.text3:after {
    left: auto;
    right: -5.3333333333vw;
    bottom: 28vw;
    width: 36.5333333333vw;
    transform: rotate(-47.36deg);
  }
}
.code-main-banner__bottom {
  color: #ffffff;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.8;
  margin-top: 115px;
}
@media (max-width: 1199px) {
  .code-main-banner__bottom {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .code-main-banner__bottom {
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .code-main-banner__bottom {
    display: none;
  }
}

@media (max-width: 991px) {
  .code-tabs.hide {
    display: none;
  }
}
.code-tabs__wrap {
  border: 0.5px solid #1D1D1D;
}
@media (max-width: 991px) {
  .code-tabs__wrap {
    border-bottom: none;
  }
}
.code-tabs__item {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.4;
  min-height: 100px;
  cursor: pointer;
  padding: 10px 30px;
  border-bottom: 0.5px solid #1D1D1D;
  transition: all 0.25s;
}
.code-tabs__item:last-child {
  border-bottom: none;
}
@media (max-width: 1680px) {
  .code-tabs__item {
    font-size: 20px;
    padding: 10px 20px 10px 25px;
  }
}
@media (max-width: 1199px) {
  .code-tabs__item {
    font-size: 18px;
    padding: 10px 15px 10px 20px;
  }
}
@media (max-width: 991px) {
  .code-tabs__item {
    min-height: 70px;
    font-size: 20px;
    padding: 14px 40px 14px 22px;
    position: relative;
  }
}
@media (max-width: 768px) {
  .code-tabs__item {
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .code-tabs__item {
    font-size: 14px;
    line-height: 17px;
  }
}
.code-tabs__item:after {
  content: "";
  display: block;
  height: 100%;
  width: 10px;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #E9FF34;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s;
}
.code-tabs__item:before {
  content: "";
  display: none;
  width: 18px;
  height: 32px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 16px;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../images/arrow-right.svg");
}
@media (max-width: 991px) {
  .code-tabs__item:before {
    display: block;
  }
}
.code-tabs__item:hover {
  background-color: #F6F5F4;
  font-weight: 600;
}
.code-tabs__item.active {
  font-weight: 600;
  background-color: #F6F5F4;
}
.code-tabs__item.active:after {
  opacity: 1;
  visibility: visible;
}
.code-tabs__item-wrap {
  display: flex;
  align-items: flex-start;
}
.code-tabs__item-number {
  display: block;
  flex-shrink: 0;
  margin-right: 10px;
}
.code-tabs__item-icon {
  display: block;
  width: 22px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 16px;
  flex-shrink: 0;
  background-image: url("../images/arrow-right-yellow.svg");
  transition: all 0.25s;
}
.code-tabs__item_last {
  text-transform: uppercase;
  background-color: #1D1D1D;
  color: #E9FF34;
}
@media (max-width: 991px) {
  .code-tabs__item_last {
    display: none;
  }
}
.code-tabs__item_last .code-tabs__item-wrap {
  align-items: center;
}
.code-tabs__item_last:hover {
  background-color: #1D1D1D;
  color: #E9FF34;
  font-weight: 400;
}
.code-tabs__item_last:hover .code-tabs__item-icon {
  margin-left: 25px;
}
.code-tabs__pdf {
  background: #F6F5F4;
  border: 0.5px solid #1D1D1D;
  margin-top: 20px;
  display: none;
  align-items: center;
  padding: 14px 25px;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  transition: all 0.25s;
  color: #1D1D1D;
}
@media (max-width: 991px) {
  .code-tabs__pdf {
    display: flex;
  }
}
.code-tabs__pdf:hover {
  text-decoration: none;
  background-color: #1D1D1D;
  color: #E9FF34;
}
.code-tabs__pdf-ellipse {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: 18px;
  background-color: #1D1D1D;
  border-radius: 118px;
  padding: 8px 10px;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: #E9FF34;
}
.code-tabs__pdf-icon {
  display: block;
  margin-left: 10px;
}

.code-tab-content {
  display: none;
}
@media (max-width: 991px) {
  .code-tab-content:last-child {
    margin-bottom: 0;
  }
}
@media (min-width: 992px) {
  .code-tab-content.active {
    display: block;
  }
}
@media (max-width: 991px) {
  .code-tab-content.show {
    display: block;
  }
}
.code-tab-content.show .code-tab-content__header {
  border: none;
  padding: 0;
  margin: 0 0 10px;
  background-color: transparent !important;
  font-weight: 600 !important;
}
.code-tab-content.show .code-tab-content__header:after {
  display: none;
}
@media (max-width: 991px) {
  .code-tab-content.show .code-tab-content__body {
    display: block;
  }
}
.code-tab-content__header {
  border: 1px solid #1D1D1D;
  padding: 15px 15px 15px 20px;
  font-size: 22px;
  line-height: 1.2;
  cursor: pointer;
  transition: all 0.25s;
  position: relative;
  display: none;
}
@media (max-width: 991px) {
  .code-tab-content__header {
    display: block;
  }
}
@media (max-width: 767px) {
  .code-tab-content__header {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .code-tab-content__header {
    font-size: 18px;
  }
}
.code-tab-content__header:hover {
  background-color: #F6F5F4;
  font-weight: 600;
}
.code-tab-content__header:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 8px;
  background-color: #E9FF34;
  opacity: 0;
  visibility: visible;
  transition: all 0.25s;
}
.code-tab-content__header-back {
  display: block;
  width: 22px;
  height: 32px;
  margin-bottom: 15px;
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../images/arrow-right.svg");
}
.code-tab-content__header-number {
  padding-right: 5px;
}
@media (max-width: 991px) {
  .code-tab-content__body {
    display: none;
  }
}
.code-tab-content p {
  font-weight: normal;
  font-size: 22px;
  line-height: 1.4;
  margin: 0 0 20px;
}
@media (max-width: 1199px) {
  .code-tab-content p {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .code-tab-content p {
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .code-tab-content p {
    font-size: 16px;
  }
}
.code-tab-content .code-accordion-list {
  padding-top: 35px;
}
@media (max-width: 991px) {
  .code-tab-content .code-accordion-list {
    padding-top: 15px;
  }
}
.code-tab-content__more {
  display: none;
}
@media (max-width: 991px) {
  .code-tab-content__more {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: #1D1D1D;
    color: #E9FF34;
    text-decoration: none;
    padding: 24px;
    margin-top: 40px;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
  }
  .code-tab-content__more:hover {
    background-color: #1D1D1D;
    color: #E9FF34;
    font-weight: 400;
  }
  .code-tab-content__more:hover .code-tabs__item-icon {
    margin-left: 25px;
  }
}

.code-tabs-main {
  padding-bottom: 90px;
}
@media (max-width: 1199px) {
  .code-tabs-main {
    padding-bottom: 60px;
  }
}
@media (max-width: 575px) {
  .code-tabs-main {
    padding-bottom: 40px;
  }
}
@media (max-width: 991px) {
  .code-tabs-main .code-row {
    flex-direction: column;
  }
  .code-tabs-main .code-row .code-col-3, .code-tabs-main .code-row .code-col-6 {
    width: 100%;
  }
}

.code-accordion {
  border-top: 0.5px solid #1D1D1D;
}
.code-accordion:last-child {
  border-bottom: 0.5px solid #1D1D1D;
}
.code-accordion.active .code-accordion__header {
  font-weight: 600;
}
.code-accordion.active .code-accordion__header:after {
  background-image: url("../images/minus.svg");
}
.code-accordion.active .code-accordion__body {
  display: block;
}
.code-accordion__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px 5px;
  cursor: pointer;
  font-size: 22px;
  line-height: 1.3;
  transition: all 0.25s;
}
@media (max-width: 1199px) {
  .code-accordion__header {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .code-accordion__header {
    font-size: 18px;
    padding: 15px 5px;
  }
}
@media (max-width: 575px) {
  .code-accordion__header {
    font-size: 16px;
  }
}
.code-accordion__header:after {
  content: "";
  display: block;
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../images/plus.svg");
  margin-left: 8px;
  flex-shrink: 0;
}
@media (max-width: 1199px) {
  .code-accordion__header:after {
    width: 24px;
    height: 24px;
  }
}
@media (max-width: 991px) {
  .code-accordion__header:after {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 575px) {
  .code-accordion__header:after {
    width: 16px;
    height: 16px;
  }
}
.code-accordion__body {
  display: none;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
}
.code-accordion__body h6 {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 1.25;
  margin: 0 0 10px;
}
@media (max-width: 1199px) {
  .code-accordion__body h6 {
    font-size: 25px;
  }
}
@media (max-width: 991px) {
  .code-accordion__body h6 {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .code-accordion__body h6 {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .code-accordion__body h6 {
    font-size: 16px;
  }
}
.code-accordion__body p + h6 {
  margin-top: 30px;
}
@media (max-width: 991px) {
  .code-accordion__body p + h6 {
    margin-top: 25px;
  }
}
@media (max-width: 767px) {
  .code-accordion__body p + h6 {
    margin-top: 20px;
  }
}
.code-accordion__body p {
  font-weight: normal;
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
  margin-top: 0;
}
.code-accordion__body p:last-child {
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .code-accordion__body p {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .code-accordion__body p {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .code-accordion__body p {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
@media (max-width: 400px) {
  .code-accordion__body p {
    font-size: 12px;
  }
}

.code-preamble {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
}
.code-preamble__header {
  align-items: center;
  margin: 0 0 50px;
}
@media (max-width: 991px) {
  .code-preamble__header {
    margin: 0 0 30px;
  }
}
@media (max-width: 575px) {
  .code-preamble__header {
    margin: 0 0 8px;
  }
}
.code-preamble__header-icon {
  width: 226px;
  flex-shrink: 0;
  margin-right: 90px;
}
@media (max-width: 1400px) {
  .code-preamble__header-icon {
    width: 180px;
    margin-right: 60px;
  }
}
@media (max-width: 991px) {
  .code-preamble__header-icon {
    width: 140px;
    margin-right: 40px;
  }
}
@media (max-width: 767px) {
  .code-preamble__header-icon {
    width: 100px;
    margin-right: 30px;
  }
}
@media (max-width: 575px) {
  .code-preamble__header-icon {
    display: none;
  }
}
.code-preamble__header-icon img {
  width: 100%;
}
.code-preamble__header-title {
  font-weight: 400;
  font-size: 72px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  max-width: 815px;
}
@media (max-width: 1400px) {
  .code-preamble__header-title {
    font-size: 60px;
  }
}
@media (max-width: 1199px) {
  .code-preamble__header-title {
    font-size: 50px;
  }
}
@media (max-width: 991px) {
  .code-preamble__header-title {
    font-size: 45px;
  }
}
@media (max-width: 767px) {
  .code-preamble__header-title {
    font-size: 35px;
  }
}
@media (max-width: 575px) {
  .code-preamble__header-title {
    font-size: 36px;
    line-height: 43px;
  }
}
.code-preamble__text {
  padding-bottom: 60px;
  align-items: flex-end;
}
@media (max-width: 991px) {
  .code-preamble__text {
    flex-direction: column;
  }
  .code-preamble__text .code-col-2 {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .code-preamble__text {
    padding-bottom: 40px;
  }
}
.code-preamble__text p {
  font-weight: normal;
  font-size: 24px;
  line-height: 1.75;
  margin: 0 0 20px;
  padding: 0;
}
@media (max-width: 1400px) {
  .code-preamble__text p {
    font-size: 20px;
  }
}
@media (max-width: 991px) {
  .code-preamble__text p {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .code-preamble__text p {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .code-preamble__text p {
    font-size: 12px;
    line-height: 21px;
  }
}
.code-preamble__text p:last-child {
  margin-bottom: 0;
}
@media (max-width: 575px) {
  .code-preamble__text p:last-child {
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .code-definition-wrap .code-col-3 {
    width: 50%;
  }
}
@media (max-width: 575px) {
  .code-definition-wrap .code-col-3 {
    width: 100%;
  }
}

.code-definition {
  border: 0.5px solid #ffffff;
  box-sizing: border-box;
  height: 100%;
  min-height: 460px;
  background-color: #1D1D1D;
  transition: all 0.25s;
  padding: 44px 32px 32px;
  cursor: pointer;
}
@media (max-width: 1680px) {
  .code-definition {
    padding: 30px 25px 25px;
    min-height: 400px;
  }
}
@media (max-width: 1199px) {
  .code-definition {
    min-height: 360px;
    padding: 30px 20px 25px;
  }
}
@media (max-width: 991px) {
  .code-definition {
    min-height: 300px;
  }
}
@media (max-width: 767px) {
  .code-definition {
    padding: 25px 15px;
  }
}
@media (max-width: 575px) {
  .code-definition {
    min-height: 220px;
  }
}
.code-definition:hover {
  background-color: #E9FF34;
  border-color: #E9FF34;
}
.code-definition:hover .code-definition__header-title {
  color: #1D1D1D;
}
.code-definition:hover .code-definition__header-icon svg path, .code-definition:hover .code-definition__header-icon svg rect {
  fill: #1D1D1D;
}
.code-definition:hover .code-definition__text p {
  color: #1D1D1D;
}
.code-definition__header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 24px;
}
@media (max-width: 767px) {
  .code-definition__header {
    align-items: center;
  }
}
.code-definition__header-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.2;
  color: #ffffff;
  padding: 0;
  margin: 50px 0 0;
  transition: all 0.25s;
}
@media (max-width: 1680px) {
  .code-definition__header-title {
    font-size: 26px;
    margin: 35px 0 0;
  }
}
@media (max-width: 1199px) {
  .code-definition__header-title {
    font-size: 24px;
    margin: 25px 0 0;
  }
}
@media (max-width: 767px) {
  .code-definition__header-title {
    font-size: 22px;
    margin: 0;
  }
}
.code-definition__header-icon {
  height: 120px;
  width: 120px;
  flex-shrink: 0;
  margin-left: 10px;
}
@media (max-width: 1680px) {
  .code-definition__header-icon {
    height: 100px;
    width: 100px;
  }
}
@media (max-width: 1199px) {
  .code-definition__header-icon {
    height: 80px;
    width: 80px;
  }
}
@media (max-width: 767px) {
  .code-definition__header-icon {
    height: 70px;
    width: 70px;
  }
}
.code-definition__header-icon svg {
  width: 100%;
  height: 100%;
}
.code-definition__header-icon svg path, .code-definition__header-icon svg rect {
  transition: all 0.25s;
}
.code-definition__text p {
  font-weight: normal;
  font-size: 20px;
  line-height: 1.5;
  color: #ffffff;
  padding: 0;
  margin: 0 0 20px;
  transition: all 0.25s;
}
@media (max-width: 1199px) {
  .code-definition__text p {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .code-definition__text p {
    font-size: 16px;
  }
}
.code-definition__text p:last-child {
  margin-bottom: 0;
}

.code-cartoon {
  padding-bottom: 90px;
}
@media (max-width: 1199px) {
  .code-cartoon {
    padding-bottom: 60px;
  }
}
@media (max-width: 991px) {
  .code-cartoon {
    padding-bottom: 50px;
  }
}
@media (max-width: 575px) {
  .code-cartoon {
    padding-bottom: 35px;
  }
}
.code-cartoon .code-row {
  align-items: flex-end;
}
@media (max-width: 991px) {
  .code-cartoon .code-row {
    flex-direction: column;
    align-items: flex-start;
  }
  .code-cartoon .code-row .code-col-3, .code-cartoon .code-row .code-col-6 {
    width: 100%;
  }
}
.code-cartoon__author {
  font-weight: normal;
  font-size: 26px;
  line-height: 1.25;
  margin: 0 0 90px;
}
@media (max-width: 991px) {
  .code-cartoon__author {
    margin: 0 0 20px;
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .code-cartoon__author {
    font-size: 20px;
  }
}
.code-cartoon__wrap {
  position: relative;
  padding-bottom: 90px;
}
@media (max-width: 991px) {
  .code-cartoon__wrap {
    padding-bottom: 70px;
  }
}
.code-cartoon .swiper-slide {
  width: max-content;
}
.code-cartoon__item {
  height: 100%;
}
.code-cartoon__item-image {
  height: 650px;
  margin: 0 0 17px;
}
@media (max-width: 1680px) {
  .code-cartoon__item-image {
    height: 500px;
  }
}
@media (max-width: 1199px) {
  .code-cartoon__item-image {
    height: 450px;
  }
}
@media (max-width: 991px) {
  .code-cartoon__item-image {
    height: 380px;
  }
}
@media (max-width: 767px) {
  .code-cartoon__item-image {
    height: 320px;
  }
}
@media (max-width: 575px) {
  .code-cartoon__item-image {
    height: 240px;
    margin: 0 0 10px;
  }
}
.code-cartoon__item-image img {
  height: 100%;
}
.code-cartoon__item p {
  padding: 0;
  margin: 0;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.2;
}
@media (max-width: 1199px) {
  .code-cartoon__item p {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .code-cartoon__item p {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .code-cartoon__item p {
    font-size: 12px;
    line-height: 14px;
  }
}
.code-cartoon .cartoon-swiper {
  width: calc(100% + (100vw - 1620px) / 2);
}
@media (max-width: 1680px) {
  .code-cartoon .cartoon-swiper {
    width: calc(100% + 30px);
  }
}
@media (max-width: 991px) {
  .code-cartoon .cartoon-swiper {
    width: 100%;
  }
}
.code-cartoon .swiper-pagination {
  position: absolute;
  left: 0;
  bottom: 20px;
  font-size: 26px;
  line-height: 1.3;
  text-align: left;
}
@media (max-width: 1199px) {
  .code-cartoon .swiper-pagination {
    font-size: 22px;
  }
}
@media (max-width: 992px) {
  .code-cartoon .swiper-pagination {
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .code-cartoon .swiper-pagination {
    font-size: 12px;
    line-height: 14px;
    bottom: 14px;
  }
}
.code-cartoon .swiper-pagination-current {
  font-weight: 600;
}
.code-cartoon .swiper-scrollbar {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #1D1D1D;
}
.code-cartoon .swiper-scrollbar-drag {
  background-color: #1D1D1D;
  height: 4px;
  top: -3px;
  border-radius: 0;
}

.code-testimonial {
  padding: 20px 0 50px;
}
@media (max-width: 767px) {
  .code-testimonial {
    padding: 20px 0 20px;
  }
}
.code-testimonial__row1 {
  display: flex;
  padding-left: 130px;
  align-items: flex-start;
}
@media (max-width: 1680px) {
  .code-testimonial__row1 {
    padding-left: 0;
  }
}
@media (max-width: 1199px) {
  .code-testimonial__row1 {
    justify-content: space-between;
  }
}
@media (max-width: 575px) {
  .code-testimonial__row1 {
    flex-direction: column;
  }
}
.code-testimonial__row2 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 130px;
}
@media (max-width: 1680px) {
  .code-testimonial__row2 {
    padding-right: 0;
  }
}
@media (max-width: 1199px) {
  .code-testimonial__row2 {
    justify-content: space-between;
  }
}
@media (max-width: 575px) {
  .code-testimonial__row2 {
    flex-direction: column;
    justify-content: flex-start;
  }
}
.code-testimonial__item {
  width: 515px;
  padding-bottom: 50px;
  border-bottom: 1px solid #1D1D1D;
  margin-bottom: 20px;
  margin-right: 170px;
  flex-shrink: 0;
}
@media (max-width: 1400px) {
  .code-testimonial__item {
    margin-right: 120px;
  }
}
@media (max-width: 1199px) {
  .code-testimonial__item {
    margin-right: 0;
    width: 45%;
  }
}
@media (max-width: 991px) {
  .code-testimonial__item {
    padding-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .code-testimonial__item {
    width: calc(50% - 15px);
  }
}
@media (max-width: 575px) {
  .code-testimonial__item {
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 20px;
  }
}
.code-testimonial__item:last-child {
  margin-right: 0;
  margin-top: 130px;
}
@media (max-width: 575px) {
  .code-testimonial__item:last-child {
    margin-top: 0;
    margin-bottom: 35px;
  }
}
.code-testimonial__item-icon {
  margin-bottom: 20px;
}
.code-testimonial__item-icon img {
  max-width: 130px;
  max-height: 40px;
}
@media (max-width: 767px) {
  .code-testimonial__item-icon img {
    max-height: 30px;
  }
}
@media (max-width: 575px) {
  .code-testimonial__item-icon img {
    max-width: 100px;
    max-height: 20px;
  }
}
.code-testimonial__item-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin: 0 0 38px;
  padding: 0;
}
@media (max-width: 991px) {
  .code-testimonial__item-title {
    margin: 0 0 25px;
  }
}
@media (max-width: 575px) {
  .code-testimonial__item-title {
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 5px;
  }
}
.code-testimonial__item-text {
  font-weight: normal;
  font-size: 26px;
  line-height: 1.4;
  margin: 0;
}
@media (max-width: 1199px) {
  .code-testimonial__item-text {
    font-size: 22px;
  }
}
@media (max-width: 991px) {
  .code-testimonial__item-text {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .code-testimonial__item-text {
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .code-testimonial__item-text {
    font-size: 12px;
    line-height: 18px;
  }
}

.code-endorsement {
  padding: 60px 0 70px;
}
@media (max-width: 1199px) {
  .code-endorsement {
    padding: 30px 0 60px;
  }
}
@media (max-width: 768px) {
  .code-endorsement {
    padding: 30px 0 40px;
  }
}
@media (max-width: 575px) {
  .code-endorsement {
    padding: 0 0 30px;
  }
}
.code-endorsement__list {
  list-style: none;
  padding: 0;
  margin: 0 -25px;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1680px) {
  .code-endorsement__list {
    margin: 0 -15px;
  }
}
@media (max-width: 576px) {
  .code-endorsement__list {
    margin: 0 -7px;
  }
}
.code-endorsement__list li {
  padding: 0 25px;
  margin: 0 0 50px;
  width: 33.3333333333%;
  flex-shrink: 0;
}
@media (max-width: 1680px) {
  .code-endorsement__list li {
    padding: 0 15px;
  }
}
@media (max-width: 991px) {
  .code-endorsement__list li {
    width: 50%;
    margin: 0 0 30px;
  }
}
@media (max-width: 575px) {
  .code-endorsement__list li {
    margin: 0 0 8px;
    padding: 0 7px;
  }
}
.code-endorsement__list li a {
  display: block;
  text-decoration: none;
  padding-bottom: 15px;
  position: relative;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.2;
  color: #ffffff;
  transition: all 0.25s;
}
@media (max-width: 1399px) {
  .code-endorsement__list li a {
    font-size: 24px;
  }
}
@media (max-width: 1199px) {
  .code-endorsement__list li a {
    font-size: 22px;
  }
}
@media (max-width: 991px) {
  .code-endorsement__list li a {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .code-endorsement__list li a {
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 8px;
  }
}
.code-endorsement__list li a:after, .code-endorsement__list li a:before {
  content: "";
  display: block;
  height: 0;
  position: absolute;
  bottom: 0;
  transition: all 0.3s;
}
.code-endorsement__list li a:after {
  width: 100%;
  right: 0;
  border-bottom: 0.5px solid #ffffff;
}
.code-endorsement__list li a:before {
  left: 0;
  width: 0;
  border-bottom: 0.5px solid #E9FF34;
}
.code-endorsement__list li a:hover {
  color: #E9FF34;
  text-decoration: none;
}
.code-endorsement__list li a:hover:after {
  width: 0;
}
.code-endorsement__list li a:hover:before {
  width: 100%;
}

.code-contact {
  display: flex;
  justify-content: center;
}
@media (max-width: 991px) {
  .code-contact {
    flex-direction: column;
  }
}
.code-contact .code-main-block__header-title {
  margin: 0 0 38px;
}
@media (max-width: 991px) {
  .code-contact .code-main-block__header-title {
    margin-bottom: 25px;
  }
}
.code-contact__subtitle {
  padding: 0;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.4;
  margin: 0 0 50px;
}
@media (max-width: 1680px) {
  .code-contact__subtitle {
    font-size: 20px;
    margin: 0 0 30px;
  }
}
@media (max-width: 1400px) {
  .code-contact__subtitle {
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .code-contact__subtitle {
    font-size: 12px;
    line-height: 18px;
  }
}
.code-contact__row {
  max-width: 1660px;
  width: 100%;
}
@media (max-width: 991px) {
  .code-contact__row {
    margin: 0;
  }
}
.code-contact__col {
  padding: 0 20px;
  width: 50%;
  flex-shrink: 0;
  position: relative;
}
@media (max-width: 991px) {
  .code-contact__col {
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  .code-contact__col {
    padding: 0 15px;
  }
}
@media (max-width: 991px) {
  .code-contact__col:first-child {
    background-color: #E9FF34;
  }
}
.code-contact__col:first-child:after {
  content: "";
  display: block;
  height: 100%;
  width: 50vw;
  right: 0;
  top: 0;
  position: absolute;
  background-color: #E9FF34;
  z-index: -1;
}
@media (max-width: 991px) {
  .code-contact__col:first-child:after {
    width: 100vw;
  }
}
.code-contact__wrap {
  padding: 30px 0 100px;
}
@media (max-width: 1680px) {
  .code-contact__wrap {
    padding: 30px 0 80px;
  }
}
@media (max-width: 767px) {
  .code-contact__wrap {
    padding: 30px 0 50px;
  }
}
.code-contact__form-wrap {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 1400px) {
  .code-contact__form-wrap {
    flex-direction: column;
    align-items: flex-start;
  }
}
.code-contact__form {
  width: calc(100% - 250px);
  border-bottom: 0.5px solid #1D1D1D;
}
@media (max-width: 1680px) {
  .code-contact__form {
    width: calc(100% - 230px);
  }
}
@media (max-width: 1400px) {
  .code-contact__form {
    width: 100%;
  }
}
.code-contact__form.border-none {
  border-bottom: none;
}
.code-contact .code-radio-list {
  padding: 20px 0;
}
@media (max-width: 575px) {
  .code-contact .code-radio-list {
    padding: 0 0 12px;
  }
}
.code-contact-btn {
  background-color: #1D1D1D;
  border: 1px solid #1D1D1D;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.3;
  color: #E9FF34;
  padding: 17px 4px;
  cursor: pointer;
  margin-left: 40px;
  transition: all 0.25s;
}
@media (max-width: 1680px) {
  .code-contact-btn {
    font-size: 20px;
  }
}
@media (max-width: 1400px) {
  .code-contact-btn {
    margin-top: 20px;
  }
}
@media (max-width: 1199px) {
  .code-contact-btn {
    margin-left: 0;
  }
}
@media (max-width: 575px) {
  .code-contact-btn {
    width: 150px;
    font-size: 14px;
    line-height: 17px;
    padding: 12px 4px;
  }
}
.code-contact-btn:hover .icon-yellow-arrow {
  transform: translateX(5px);
}
.code-contact-btn .icon-yellow-arrow {
  width: 18px;
  height: 25px;
  margin-left: 9px;
  background-image: url("../images/arrow-right-yellow.svg");
  transition: all 0.25s;
}
@media (max-width: 575px) {
  .code-contact-btn .icon-yellow-arrow {
    width: 14px;
  }
}
.code-contact__footer {
  display: flex;
  padding-top: 110px;
  justify-content: space-between;
  align-items: flex-end;
}
@media (max-width: 1400px) {
  .code-contact__footer {
    padding-top: 80px;
  }
}
.code-contact-link {
  font-size: 18px;
  line-height: 1.3;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.25s;
  color: #1D1D1D;
  position: relative;
}
@media (max-width: 768px) {
  .code-contact-link {
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .code-contact-link {
    font-size: 12px;
    line-height: 14px;
  }
}
.code-contact-link:hover {
  text-decoration: none;
  color: #1D1D1D;
}
.code-contact-link:hover:after {
  width: 100%;
}
.code-contact-link:after {
  content: "";
  display: block;
  width: 0;
  transition: all 0.25s;
  height: 0;
  border-bottom: 1px solid #1D1D1D;
  position: absolute;
  left: 0;
  bottom: 0;
}

.link-instagram {
  display: flex;
  align-items: center;
  transition: all 0.25s;
  color: #1D1D1D;
  font-size: 26px;
  line-height: 1.3;
  text-decoration: none;
  position: relative;
}
@media (max-width: 1400px) {
  .link-instagram {
    font-size: 22px;
  }
}
@media (max-width: 768px) {
  .link-instagram {
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .link-instagram {
    font-size: 14px;
    padding-bottom: 4px;
  }
}
.link-instagram:hover span {
  transform: translate(5px, -5px);
}
.link-instagram:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-bottom: 1px solid #1D1D1D;
}
.link-instagram span {
  display: block;
  width: 19px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../images/arrow-top.svg");
  flex-shrink: 0;
  margin-left: 10px;
  transition: all 0.25s;
}
@media (max-width: 1400px) {
  .link-instagram span {
    width: 12px;
    height: 12px;
  }
}
.link-instagram span svg {
  height: 100%;
  width: 100%;
  transition: all 0.25s;
}

.code-test-page {
  padding: 0;
}
.code-test-page__back {
  display: none;
}
@media (max-width: 991px) {
  .code-test-page__back {
    display: block;
    width: 18px;
    transform: rotate(180deg);
    margin-bottom: 25px;
    cursor: pointer;
  }
  .code-test-page__back img {
    width: 100%;
  }
}
.code-test-page__title {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin: 0 0 80px;
  padding: 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.23;
}
@media (max-width: 1199px) {
  .code-test-page__title {
    font-size: 26px;
    margin: 0 0 60px;
  }
}
@media (max-width: 767px) {
  .code-test-page__title {
    font-size: 24px;
    margin: 0 0 40px;
  }
}
.code-test-page__title:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #1D1D1D;
}
.code-test-page__wrap {
  align-items: flex-start;
}
@media (max-width: 991px) {
  .code-test-page__wrap {
    flex-direction: column;
  }
}
.code-test-page__aside {
  flex-shrink: 0;
  width: 550px;
}
@media (max-width: 1400px) {
  .code-test-page__aside {
    width: 400px;
  }
}
@media (max-width: 1199px) {
  .code-test-page__aside {
    width: 340px;
  }
}
@media (max-width: 991px) {
  .code-test-page__aside {
    width: 100%;
  }
}
.code-test-page__aside-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.13;
  padding: 0;
  margin: 0 0 20px;
}
@media (max-width: 1400px) {
  .code-test-page__aside-title {
    font-size: 26px;
  }
}
@media (max-width: 1199px) {
  .code-test-page__aside-title {
    font-size: 24px;
  }
}
@media (max-width: 991px) {
  .code-test-page__aside-title {
    margin: 0 0 30px;
  }
}
@media (max-width: 575px) {
  .code-test-page__aside-title {
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 20px;
  }
}
.code-test-page__content {
  flex-grow: 1;
}
.code-test-page__question {
  position: relative;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.6;
  margin: 0 0 60px;
}
@media (max-width: 991px) {
  .code-test-page__question {
    font-size: 16px;
    margin: 0 0 40px;
  }
}
@media (max-width: 575px) {
  .code-test-page__question {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 30px;
  }
}
.code-test-page__question-number {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: -80px;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.3;
}
@media (max-width: 1400px) {
  .code-test-page__question-number {
    left: -50px;
    font-size: 24px;
  }
}
@media (max-width: 991px) {
  .code-test-page__question-number {
    position: relative;
    left: 0;
    top: 0;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    margin: 0;
  }
}
.code-test-page__question-arrow {
  display: block;
  width: 18px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../images/arrow-right.svg");
  margin-left: 10px;
  flex-shrink: 0;
}
@media (max-width: 1400px) {
  .code-test-page__question-arrow {
    width: 15px;
    height: 25px;
    margin-left: 5px;
  }
}
@media (max-width: 991px) {
  .code-test-page__question-arrow {
    display: none;
  }
}
.code-test-page__footer {
  position: relative;
  align-items: center;
  justify-content: space-between;
  margin-top: 55px;
  padding-bottom: 28px;
  border-bottom: 0.5px solid #1D1D1D;
}
@media (max-width: 767px) {
  .code-test-page__footer {
    margin-top: 40px;
    padding-bottom: 14px;
  }
}
.code-test-page__footer-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3.5px;
  background-color: #1D1D1D;
}
.code-test-page__pagination {
  display: flex;
  align-items: center;
}
.code-test-page__pagination-title {
  font-weight: 600;
  font-size: 26px;
  line-height: 1.25;
  display: block;
  margin-right: 38px;
}
@media (max-width: 1199px) {
  .code-test-page__pagination-title {
    font-size: 22px;
    margin-right: 25px;
  }
}
@media (max-width: 767px) {
  .code-test-page__pagination-title {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .code-test-page__pagination-title {
    font-size: 12px;
    line-height: 15px;
    margin-right: 10px;
  }
}
.code-test-page__pagination-number {
  display: flex;
  align-items: center;
  font-size: 26px;
  line-height: 32px;
}
@media (max-width: 1199px) {
  .code-test-page__pagination-number {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .code-test-page__pagination-number {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .code-test-page__pagination-number {
    font-size: 12px;
    line-height: 15px;
  }
}
.code-test-page__pagination-number .current {
  font-weight: 600;
}
.code-test-page__next {
  text-decoration: none;
  transition: all 0.25s;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.25;
  color: #1D1D1D;
  position: relative;
}
@media (max-width: 1199px) {
  .code-test-page__next {
    font-size: 22px;
  }
}
@media (max-width: 767px) {
  .code-test-page__next {
    font-size: 20px;
  }
}
@media (max-width: 575px) {
  .code-test-page__next {
    font-size: 12px;
    line-height: 15px;
  }
}
.code-test-page__next:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-bottom: 1px solid #1D1D1D;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  opacity: 0;
  transition: all 0.25s;
}
.code-test-page__next:hover {
  text-decoration: none;
  color: #1D1D1D;
}
.code-test-page__next:hover:after {
  opacity: 1;
  width: 100%;
}

.code-test-item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  border: 1px solid #1D1D1D;
  background-color: #ffffff;
  box-sizing: border-box;
  min-height: 200px;
  transition: all 0.25s;
  cursor: pointer;
  text-decoration: none;
  margin: 0 0 40px;
  font-size: 24px;
  line-height: 1.2;
  color: #1D1D1D;
}
@media (max-width: 1680px) {
  .code-test-item {
    font-size: 22px;
  }
}
@media (max-width: 1400px) {
  .code-test-item {
    font-size: 20px;
    padding: 20px;
  }
}
@media (max-width: 991px) {
  .code-test-item {
    font-size: 18px;
    margin: 0 0 30px;
  }
}
@media (max-width: 767px) {
  .code-test-item {
    font-size: 16px;
    min-height: 150px;
  }
}
@media (max-width: 575px) {
  .code-test-item {
    min-height: 70px;
    margin: 0 0 20px;
    text-align: left;
    justify-content: flex-start;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 17px;
  }
}
.code-test-item:hover {
  background-color: #000000;
  color: #E9FF34;
}
.code-test-item span {
  display: none;
}
@media (max-width: 575px) {
  .code-test-item span {
    display: contents;
    padding-right: 5px;
  }
}

.code-test-checkbox {
  margin: 0 0 30px;
}
@media (max-width: 575px) {
  .code-test-checkbox {
    margin-bottom: 20px;
  }
}
.code-test-checkbox input {
  display: none;
}
.code-test-checkbox__label {
  display: flex;
  align-items: flex-start;
  background: #F6F5F4;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  min-height: 120px;
  padding: 25px 30px 20px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.6;
  transition: all 0.25s;
}
@media (max-width: 767px) {
  .code-test-checkbox__label {
    padding: 20px;
  }
}
@media (max-width: 575px) {
  .code-test-checkbox__label {
    padding: 10px 10px 16px;
    font-size: 12px;
  }
}
.code-test-checkbox__label-letter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  flex-shrink: 0;
  margin-right: 27px;
  margin-top: 5px;
  font-weight: 600;
  font-size: 26px;
  line-height: 1;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .code-test-checkbox__label-letter {
    width: 34px;
    height: 34px;
    font-size: 20px;
    margin-right: 15px;
  }
}
@media (max-width: 575px) {
  .code-test-checkbox__label-letter {
    width: 30px;
    height: 30px;
    font-size: 18px;
    margin-right: 10px;
  }
}
.code-test-checkbox input:checked + .code-test-checkbox__label {
  background-color: #1D1D1D;
  color: #ffffff;
}
.code-test-checkbox input:checked + .code-test-checkbox__label .code-test-checkbox__label-letter {
  background-color: #E9FF34;
  color: #1D1D1D;
}

.code-success-message {
  text-align: center;
  padding: 210px 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 34px;
}
@media (max-width: 1199px) {
  .code-success-message {
    padding: 150px 0;
  }
}

/*# sourceMappingURL=style.css.map */
