body {
  font-family: $font-family-gilroy;
  color: $black-secondary-color;
  overflow-x: hidden;
}

.code-container {
  width: 100%;
  max-width: 1680px;
  padding: 0 30px;
  margin: 0 auto;
  @media (max-width: 991px) {
    padding: 0 20px;
  }
}

.code-flex {
  display: flex;
}

.code-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
  @media (max-width: 991px) {
    margin: 0 -15px;
  }
}

.code-col-2 {
  flex-shrink: 0;
  width: 50%;
  padding: 0 20px;
  @media (max-width: 991px) {
    padding: 0 15px;
  }
}

.code-col-3 {
  flex-shrink: 0;
  width: calc(100% / 3);
  padding: 0 20px;
  @media (max-width: 991px) {
    padding: 0 15px;
  }

  &.code-col-sm-2 {
    @media (max-width: 767px) {
      width: 50%;
    }
    @media (max-width: 575px) {
      width: 100%;
    }
  }
}

.code-col-6 {
  flex-shrink: 0;
  width: calc(100% / 3 * 2);
  padding: 0 20px;
  @media (max-width: 991px) {
    padding: 0 15px;
  }
}


.mb-40 {
  margin-bottom: 40px;
}
.mb-0 {
  margin-bottom: 0 !important;
}

.bg-yellow {
  background-color: $yellow-color;
}

.bg-white {
  background-color: $white-color;
}

.bg-black {
  background-color: $black-secondary-color;
}


.code-btn {
  display: block;
  width: max-content;
  text-decoration: none;
  transition: all 0.25s;

  &:hover, &:focus, &:active {
    text-decoration: none;
    outline: none;
    box-shadow: none;
  }
}

.code-btn-yellow {
  background-color: $yellow-color;
  border: 0.5px solid $black-secondary-color;
  border-radius: 130px;
  font-weight: 600;
  font-size: 25px;
  line-height: 31px;
  color: $black-secondary-color;
  @media (max-width: 991px) {
    font-size: 20px;
    line-height: 30px;
  }
  @media (max-width: 575px) {
    font-size: 16px;
    line-height: 26px;
  }

  &:hover {
    background-color: $yellow-color-hover;
    color: $black-secondary-color;
  }
}

.code-btn-icon {
  display: flex;
  align-items: center;
  padding: 24px 25px 24px 35px;
  @media (max-width: 575px) {
    padding: 15px 20px;
  }

  span {
    display: block;
    flex-shrink: 0;
    margin-left: 16px;
    width: 25px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../images/arrow-right.svg");
    @media (max-width: 575px) {
      width: 20px;
      height: 20px;
    }
  }
}


.code-form-group {
  margin-bottom: 34px;

  input, textarea {
    border-radius: 0;
    width: 100%;
    padding: 10px;
    font-weight: normal;
    font-size: 22px;
    line-height: 1.3;
    border: none;
    border-bottom: 1px solid $black-secondary-color;
    background-color: transparent;
    @media (max-width: 1680px) {
      font-size: 20px;
    }
    @media (max-width: 991px) {
      font-size: 18px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
    }
    @media (max-width: 575px) {
      font-size: 12px;
      line-height: 14px;
      padding: 8px 0px;
    }

    &:focus, &:active {
      box-shadow: none;
      outline: none;
    }

    &::placeholder {
      color: $black-secondary-color;
      padding-top: 0;
    }
  }

  textarea {
    resize: none;
  }
}

.code-form-radio {
  display: block;
  margin: 0 0 30px 10px;
  @media (max-width: 575px) {
    margin: 0 0 18px 5px;
  }

  input {
    display: none;
  }

  label {
    display: flex;
    align-items: flex-start;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding: 0;
    position: relative;
    cursor: pointer;
    @media (max-width: 767px) {
      font-size: 16px;
    }

    @media (max-width: 575px) {
      font-size: 12px;
      line-height: 14px;
    }

    &:after, &:before {
      content: '';
      display: block;
      flex-shrink: 0;
      border-radius: 50%;
    }

    &:before {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      border: 1px solid $black-secondary-color;
      @media (max-width: 575px) {
        width: 16px;
        height: 16px;
      }
    }

    &:after {
      position: absolute;
      top: 5px;
      left: 5px;
      width: 14px;
      height: 14px;
      background-color: $black-secondary-color;
      opacity: 0;
      transition: all 0.25s;
      @media (max-width: 575px) {
        width: 8px;
        height: 8px;
        top: 4px;
        left: 4px;
      }
    }
  }

  input:checked + label:after {
    opacity: 1;
  }
}
