.modal-open {
    overflow: hidden;
}

.code-header {
    background-color: $black-secondary-color;
    padding: 35px 0;
    transition: all 0.25s;
    z-index: 100;
    $header: &;

    &.js-header {
        transform: translateY(0);

        #{$header}__logo-text {
            opacity: 0;
        }

        #{$header}__logo-line {
            opacity: 0;
        }
    }

    &.fixed {
        position: sticky;
        top: 0;
        width: 100%;
        animation: slide-down 0.7s;

        #{$header}__logo-text {
            opacity: 1;
        }

        #{$header}__logo-line {
            opacity: 1;
        }
    }

    @media (max-width: 575px) {
        padding: 25px 0;
    }

    &.open {
        #{$header}__logo-text {
            opacity: 1;
        }

        #{$header}__logo-line {
            opacity: 1;
        }

        @media (max-width: 991px) {
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 50;

            #{$header}__wrap {
                position: relative;
            }

            #{$header}__nav {
                position: absolute;
                left: 0;
                top: 80px;
            }

            #{$header}__menu {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                &-item {
                    margin: 0 0 23px;

                    &:last-child {
                        margin-top: 22px;
                    }
                }
            }
        }
    }

    &__wrap {
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        font-size: 22px;
        line-height: 1.2;
        color: $yellow-color;
        @media (max-width: 1400px) {
            font-size: 18px;
        }

        &:hover {
            text-decoration: none;
            color: $yellow-color;
        }

        &-icon {
            display: block;
            flex-shrink: 0;
            width: 30px;
            height: 30px;
            margin-right: 20px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("../images/title-icon-yellow.svg");

            @media (max-width: 1680px) {
                margin-right: 15px;
            }
            @media (max-width: 1199px) {
                width: 26px;
                height: 26px;
                margin-right: 10px;
            }
            @media (max-width: 991px) {
                width: 22px;
                height: 22px;
            }
        }

        &-text {
            transition: all 0.25s;
        }

        &-line {
            display: block;
            width: 20px;
            height: 0;
            border-bottom: 1px solid $yellow-color;
            flex-shrink: 0;
            margin: 0 10px;
            transition: all 0.25s;
            @media (max-width: 1400px) {
                margin: 0 8px;
                width: 16px;
            }
            @media (max-width: 1199px) {
                margin: 0 5px;
                width: 12px;
            }
        }

    }

    &__menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        @media (max-width: 991px) {
            display: none;
        }

        &-item {
            margin-right: 40px;
            @media (max-width: 1400px) {
                margin-right: 25px;
            }
            @media (max-width: 1199px) {
                margin-right: 20px;
            }

            &:last-child {
                margin-right: 0;
            }

            &.active {
                a {
                    color: $yellow-color;
                }
            }

            a {
                display: block;
                font-weight: normal;
                font-size: 14px;
                line-height: 17px;
                text-decoration: none;
                cursor: pointer;
                transition: all 0.25s;
                color: $white-color;
                @media (max-width: 992px) {
                    font-size: 24px;
                    line-height: 29px;
                }

                &:hover {
                    text-decoration: none;
                    color: $yellow-color;
                }
            }
        }

        &-join {
            a {
                padding: 6px 18px;
                background-color: $yellow-color;
                color: $black-secondary-color;
                border: 1px solid $yellow-color;
                border-radius: 20px;

                &:hover {
                    border-color: $white-color;
                    background-color: $black-secondary-color;
                    color: $white-color;
                }
            }
        }
    }

    &__burger {
        display: none;
        @media (max-width: 991px) {
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: space-between;
            width: 30px;
            height: 20px;
            cursor: pointer;
            padding: 6px 0;
        }

        span {
            display: block;
            width: 100%;
            height: 0;
            border-bottom: 1px solid $white-color;

            &:last-child {
                width: 20px;
            }
        }
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
