.code-main-block {
    padding: 34px 0;
    $block: &;
    @media (max-width: 575px) {
        padding: 20px 0;
    }

    &.code-main-block_black {
        background-color: $black-secondary-color;

        #{$block}__header-title,
        #{$block}__header-subtitle {
            color: $white-color;
        }

        #{$block}__header-icon {
            background-image: url("../images/title-icon-white.svg");
        }
    }

    &.code-main-block_yellow {
        background-color: $yellow-color;
    }

    &.code-main-block_gray {
        background-color: $light-bg;
    }

    &.code-main-block_preamble {
        padding-bottom: 0;

        .code-accordion {
            &__header {
                font-size: 30px;
                line-height: 1.2;
                font-weight: 600;
                @media (max-width: 1199px) {
                    font-size: 26px;
                }
                @media (max-width: 991px) {
                    font-size: 22px;
                }
                @media (max-width: 767px) {
                    font-size: 20px;
                }
                @media (max-width: 575px) {
                    font-size: 18px;
                }
            }
        }
    }

    &__header {
        align-items: flex-start;
        margin-bottom: 85px;
        @media (max-width: 1199px) {
            margin-bottom: 50px;
        }
        @media (max-width: 991px) {
            flex-direction: column;
            margin-bottom: 40px;

            .code-col-3, .code-col-6 {
                width: 100%;
            }
        }

        .code-btn {
            margin-top: 80px;
            margin-bottom: -34px;
            @media (max-width: 1199px) {
                margin-top: 40px;
            }
            @media (max-width: 767px) {
                background-color: transparent;
                padding: 0;
                color: $yellow-color;
                font-weight: 600;
                span {
                    display: none;
                }
            }
        }

        &-title {
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 30px;
            line-height: 1.23;
            margin: 0;
            @media (max-width: 1199px) {
                font-size: 26px;
            }
            @media (max-width: 767px) {
                font-size: 24px;
            }
            @media (max-width: 575px) {
                font-size: 20px;
                line-height: 25px;
            }
        }

        &-icon {
            display: block;
            width: 30px;
            height: 30px;
            flex-shrink: 0;
            margin-right: 12px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: revert;
            background-image: url("../images/title-icon-black.svg");
        }

        &-subtitle {
            font-weight: normal;
            font-size: 26px;
            line-height: 1.5;
            padding: 0;
            margin: 0;
            @media (max-width: 1400px) {
                font-size: 22px;
            }
            @media (max-width: 991px) {
                font-size: 18px;
                margin-top: 30px;
            }
            @media (max-width: 575px) {
                font-size: 12px;
                line-height: 18px;
            }
        }
    }

    &__pdf {
        display: flex;
        justify-content: flex-end;
        @media (max-width: 991px) {
            display: none;
        }

        .code-tabs__pdf {
            margin: 0;
            display: flex;
            justify-content: center;
            width: 513px;
            padding: 10px;
            @media (max-width: 1199px) {
                width: 450px;
            }
        }
    }
}

@function get-vw($target) {
    @if (unitless($target)) {
        $target: calc($target * 1px);
    }
    $vw-context: calc(1680 * 0.01) * 1px;
    @return calc($target / $vw-context) * 1vw;
}

@function get-sm-vw($target) {
    @if (unitless($target)) {
        $target: calc($target * 1px);
    }
    $vw-context: calc(375 * 0.01) * 1px;
    @return calc($target / $vw-context) * 1vw;
}

.code-main-banner {
    background-color: $black-secondary-color;
    padding: 145px 0 52px;

    @media (max-width: 991px) {
        padding: 100px 0 40px;
    }
    @media (max-width: 575px) {
        padding: 60px 0 90px;
    }

    &__wrap {
        position: relative;
    }

    &__text {
        font-weight: 300;
        font-size: get-vw(150px);
        line-height: 1.2;
        color: $yellow-color;
        position: relative;
        z-index: 2;
        width: max-content;
        text-align: center;
        @media (max-width: 575px) {
            font-size: get-sm-vw(50px);
        }

        &.text1 {
            width: get-vw(415px);
            margin-right: get-vw(840px);
            margin-left: auto;
            @media (max-width: 575px) {
                width: get-sm-vw(140px);
                margin-right: auto;
                margin-left: get-sm-vw(12px);
            }

            &:after {
                content: '';
                display: block;
                width: get-vw(542px);
                height: 0;
                border-bottom: 1px solid $yellow-color;
                position: absolute;
                transform: rotate(20.17deg);
                right: get-vw(-540px);
                top: get-vw(200px);

                @media (max-width: 575px) {
                    width: get-sm-vw(108px);
                    transform: rotate(25.14deg);
                    right: get-sm-vw(-110px);
                    top: get-sm-vw(55px);
                }
            }
        }

        &.text2 {
            margin-right: get-vw(150px);
            margin-left: auto;
            margin-top: get-vw(13px);
            width: get-vw(140px);
            @media (max-width: 575px) {
                width: get-sm-vw(48px);
                margin-left: get-sm-vw(260px);
                margin-right: auto;
                margin-top: get-sm-vw(-14px);
            }
        }

        &.text3 {
            margin-right: get-vw(626px);
            margin-left: auto;
            margin-top: get-vw(70px);
            width: get-vw(710px);
            font-weight: 600;
            color: $white-color;
            position: relative;

            @media (max-width: 575px) {
                margin-left: get-sm-vw(19px);
                margin-right: auto;
                margin-top: get-sm-vw(90px);
                width: get-sm-vw(240px);
            }

            &:before {
                content: '';
                display: block;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-image: url("../images/icon-yellow.svg");
                width: get-vw(200px);
                height: get-vw(180px);
                position: absolute;
                left: get-vw(55px);
                bottom: get-vw(95px);
                z-index: -1;
                @media (max-width: 575px) {
                    width: get-sm-vw(89px);
                    height: get-sm-vw(89px);
                    left: get-sm-vw(7px);
                    bottom: get-sm-vw(-14px);
                }
            }

            &:after {
                content: '';
                display: block;
                width: get-vw(371px);
                height: 0;
                border-bottom: 1px solid $yellow-color;
                position: absolute;
                transform: rotate(-37.67deg);
                right: get-vw(-350px);
                bottom: get-vw(190px);

                @media (max-width: 575px) {
                    left: auto;
                    right: get-sm-vw(-20px);
                    bottom: get-sm-vw(105px);
                    width: get-sm-vw(137px);
                    transform: rotate(-47.36deg);
                }
            }
        }
    }

    &__bottom {
        color: $white-color;
        font-weight: normal;
        font-size: 24px;
        line-height: 1.8;
        margin-top: 115px;
        @media (max-width: 1199px) {
            font-size: 20px;
        }
        @media (max-width: 768px) {
            font-size: 18px;
        }

        @media (max-width: 575px) {
            display: none;
        }
    }
}


.code-tabs {

    &.hide {
        @media (max-width: 991px) {
            display: none;
        }
    }

    &__wrap {
        border: 0.5px solid $black-secondary-color;
        @media (max-width: 991px) {
            border-bottom: none;
        }
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        font-weight: normal;
        font-size: 24px;
        line-height: 1.4;
        min-height: 100px;
        cursor: pointer;
        padding: 10px 30px;
        border-bottom: 0.5px solid $black-secondary-color;
        transition: all 0.25s;

        &:last-child {
            border-bottom: none;
        }

        @media (max-width: 1680px) {
            font-size: 20px;
            padding: 10px 20px 10px 25px;
        }

        @media (max-width: 1199px) {
            font-size: 18px;
            padding: 10px 15px 10px 20px;
        }

        @media (max-width: 991px) {
            min-height: 70px;
            font-size: 20px;
            padding: 14px 40px 14px 22px;
            position: relative;
        }
        @media (max-width: 768px) {
            font-size: 18px;
        }
        @media (max-width: 575px) {
            font-size: 14px;
            line-height: 17px;
        }

        &:after {
            content: '';
            display: block;
            height: 100%;
            width: 10px;
            top: 0;
            left: 0;
            position: absolute;
            background-color: #E9FF34;
            opacity: 0;
            visibility: hidden;
            transition: all 0.25s;
        }

        &:before {
            content: '';
            display: none;
            width: 18px;
            height: 32px;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 16px;
            margin: auto;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url("../images/arrow-right.svg");
            @media (max-width: 991px) {
                display: block;
            }
        }

        &:hover {
            background-color: $light-bg;
            font-weight: 600;
        }

        &.active {
            font-weight: 600;
            background-color: $light-bg;

            &:after {
                opacity: 1;
                visibility: visible;
            }
        }

        &-wrap {
            display: flex;
            align-items: flex-start;
        }

        &-number {
            display: block;
            flex-shrink: 0;
            margin-right: 10px;
        }

        &-icon {
            display: block;
            width: 22px;
            height: 20px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-left: 16px;
            flex-shrink: 0;
            background-image: url("../images/arrow-right-yellow.svg");
            transition: all 0.25s;
        }

        &_last {
            text-transform: uppercase;
            background-color: $black-secondary-color;
            color: $yellow-color;
            @media (max-width: 991px) {
                display: none;
            }

            .code-tabs__item-wrap {
                align-items: center;
            }

            &:hover {
                background-color: $black-secondary-color;
                color: $yellow-color;
                font-weight: 400;

                .code-tabs__item-icon {
                    margin-left: 25px;
                }
            }
        }
    }

    &__pdf {
        background: $light-bg;
        border: 0.5px solid $black-secondary-color;
        margin-top: 20px;
        display: none;
        align-items: center;
        padding: 14px 25px;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-decoration: none;
        transition: all 0.25s;
        color: $black-secondary-color;

        @media (max-width: 991px) {
            display: flex;
        }

        &:hover {
            text-decoration: none;
            background-color: $black-secondary-color;
            color: $yellow-color;
        }

        &-ellipse {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-left: 18px;
            background-color: $black-secondary-color;
            border-radius: 118px;
            padding: 8px 10px;
            font-weight: 800;
            font-size: 18px;
            line-height: 22px;
            color: $yellow-color;
        }

        &-icon {
            display: block;
            margin-left: 10px;
        }
    }
}


.code-tab-content {
    display: none;
    $tab-content: &;
    @media (max-width: 991px) {
        &:last-child {
            margin-bottom: 0;
        }
    }

    &.active {
        @media (min-width: 992px) {
            display: block;
        }
    }


    &.show {
        @media (max-width: 991px) {
            display: block;
        }

        #{$tab-content}__header {
            border: none;
            padding: 0;
            margin: 0 0 10px;
            background-color: transparent !important;
            font-weight: 600 !important;

            &:after {
                display: none;
            }
        }

        #{$tab-content}__body {
            @media (max-width: 991px) {
                display: block;
            }
        }
    }


    &__header {
        border: 1px solid $black-secondary-color;
        padding: 15px 15px 15px 20px;
        font-size: 22px;
        line-height: 1.2;
        cursor: pointer;
        transition: all 0.25s;
        position: relative;
        display: none;
        @media (max-width: 991px) {
            display: block;
        }
        @media (max-width: 767px) {
            font-size: 20px;
        }
        @media (max-width: 575px) {
            font-size: 18px;
        }

        &:hover {
            background-color: $light-bg;
            font-weight: 600;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 8px;
            background-color: $yellow-color;
            opacity: 0;
            visibility: visible;
            transition: all 0.25s;
        }

        &-back {
            display: block;
            width: 22px;
            height: 32px;
            margin-bottom: 15px;
            transform: rotate(180deg);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-image: url("../images/arrow-right.svg");
        }

        &-number {
            padding-right: 5px;
        }
    }

    &__body {
        @media (max-width: 991px) {
            display: none;
        }
    }

    p {
        font-weight: normal;
        font-size: 22px;
        line-height: 1.4;
        margin: 0 0 20px;
        @media (max-width: 1199px) {
            font-size: 20px;
        }
        @media (max-width: 991px) {
            font-size: 18px;
        }
        @media (max-width: 575px) {
            font-size: 16px;
        }
    }

    .code-accordion-list {
        padding-top: 35px;
        @media (max-width: 991px) {
            padding-top: 15px;
        }
    }

    &__more {
        display: none;
        @media (max-width: 991px) {
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            background-color: $black-secondary-color;
            color: $yellow-color;
            text-decoration: none;
            padding: 24px;
            margin-top: 40px;
            font-weight: 600;
            font-size: 22px;
            line-height: 27px;

            &:hover {
                background-color: $black-secondary-color;
                color: $yellow-color;
                font-weight: 400;

                .code-tabs__item-icon {
                    margin-left: 25px;
                }
            }
        }
    }
}

.code-tabs-main {
    padding-bottom: 90px;
    @media (max-width: 1199px) {
        padding-bottom: 60px;
    }
    @media (max-width: 575px) {
        padding-bottom: 40px;
    }

    .code-row {
        @media (max-width: 991px) {
            flex-direction: column;

            .code-col-3, .code-col-6 {
                width: 100%;
            }
        }
    }
}

.code-accordion {
    border-top: 0.5px solid $black-secondary-color;
    $accordion: &;

    &:last-child {
        border-bottom: 0.5px solid $black-secondary-color;
    }

    &.active {
        #{$accordion}__header {
            font-weight: 600;

            &:after {
                background-image: url("../images/minus.svg");
            }
        }

        #{$accordion}__body {
            display: block;
        }
    }

    &__header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 20px 5px;
        cursor: pointer;
        font-size: 22px;
        line-height: 1.3;
        transition: all 0.25s;
        @media (max-width: 1199px) {
            font-size: 20px;
        }
        @media (max-width: 991px) {
            font-size: 18px;
            padding: 15px 5px;
        }
        @media (max-width: 575px) {
            font-size: 16px;
        }

        &:after {
            content: '';
            display: block;
            width: 27px;
            height: 27px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background-image: url("../images/plus.svg");
            margin-left: 8px;
            flex-shrink: 0;
            @media (max-width: 1199px) {
                width: 24px;
                height: 24px;
            }
            @media (max-width: 991px) {
                width: 20px;
                height: 20px;
            }
            @media (max-width: 575px) {
                width: 16px;
                height: 16px;
            }
        }
    }

    &__body {
        display: none;
        padding-bottom: 20px;
        padding-left: 5px;
        padding-right: 5px;

        h6 {
            font-style: normal;
            font-weight: 600;
            font-size: 28px;
            line-height: 1.25;
            margin: 0 0 10px;
            @media (max-width: 1199px) {
                font-size: 25px;
            }
            @media (max-width: 991px) {
                font-size: 22px;
            }
            @media (max-width: 767px) {
                font-size: 20px;
            }
            @media (max-width: 575px) {
                font-size: 16px;
            }
        }

        p + h6 {
            margin-top: 30px;
            @media (max-width: 991px) {
                margin-top: 25px;
            }
            @media (max-width: 767px) {
                margin-top: 20px;
            }
        }

        p {
            font-weight: normal;
            font-size: 20px;
            line-height: 1.6;
            margin-bottom: 20px;
            margin-top: 0;
            &:last-child {
                margin-bottom: 0;
            }
            @media (max-width: 991px) {
                font-size: 18px;
            }
            @media (max-width: 767px) {
                font-size: 16px;
            }
            @media (max-width: 575px) {
                font-size: 14px;
                margin-bottom: 10px;
            }
            @media (max-width: 400px) {
                font-size: 12px;
            }
        }
    }
}

.code-preamble {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;

    &__header {
        align-items: center;
        margin: 0 0 50px;
        @media (max-width: 991px) {
            margin: 0 0 30px;
        }
        @media (max-width: 575px) {
            margin: 0 0 8px;
        }

        &-icon {
            width: 226px;
            flex-shrink: 0;
            margin-right: 90px;
            @media (max-width: 1400px) {
                width: 180px;
                margin-right: 60px;
            }
            @media (max-width: 991px) {
                width: 140px;
                margin-right: 40px;
            }
            @media (max-width: 767px) {
                width: 100px;
                margin-right: 30px;
            }
            @media (max-width: 575px) {
                display: none;
            }

            img {
                width: 100%;
            }
        }

        &-title {
            font-weight: 400;
            font-size: 72px;
            line-height: 1.2;
            padding: 0;
            margin: 0;
            max-width: 815px;
            @media (max-width: 1400px) {
                font-size: 60px;
            }
            @media (max-width: 1199px) {
                font-size: 50px;
            }
            @media (max-width: 991px) {
                font-size: 45px;
            }
            @media (max-width: 767px) {
                font-size: 35px;
            }
            @media (max-width: 575px) {
                font-size: 36px;
                line-height: 43px;
            }
        }
    }

    &__text {
        padding-bottom: 60px;
        align-items: flex-end;
        @media (max-width: 991px) {
            flex-direction: column;

            .code-col-2 {
                width: 100%;
            }
        }
        @media (max-width: 575px) {
            padding-bottom: 40px;
        }

        p {
            font-weight: normal;
            font-size: 24px;
            line-height: 1.75;
            margin: 0 0 20px;
            padding: 0;
            @media (max-width: 1400px) {
                font-size: 20px;
            }
            @media (max-width: 991px) {
                font-size: 18px;
            }
            @media (max-width: 767px) {
                font-size: 16px;
            }
            @media (max-width: 575px) {
                font-size: 12px;
                line-height: 21px;
            }

            &:last-child {
                margin-bottom: 0;
                @media (max-width: 575px) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}


.code-definition-wrap {
    .code-col-3 {
        @media (max-width: 991px) {
            width: 50%;
        }
        @media (max-width: 575px) {
            width: 100%;
        }
    }
}

.code-definition {
    border: 0.5px solid $white-color;
    box-sizing: border-box;
    height: 100%;
    min-height: 460px;
    background-color: $black-secondary-color;
    transition: all 0.25s;
    padding: 44px 32px 32px;
    cursor: pointer;
    $def: &;

    @media (max-width: 1680px) {
        padding: 30px 25px 25px;
        min-height: 400px;
    }
    @media (max-width: 1199px) {
        min-height: 360px;
        padding: 30px 20px 25px;
    }
    @media (max-width: 991px) {
        min-height: 300px;
    }
    @media (max-width: 767px) {
        padding: 25px 15px;
    }
    @media (max-width: 575px) {
        min-height: 220px;
    }

    &:hover {
        background-color: $yellow-color;
        border-color: $yellow-color;

        #{$def}__header-title {
            color: $black-secondary-color;
        }

        #{$def}__header-icon {
            svg {
                path, rect {
                    fill: $black-secondary-color;
                }
            }
        }

        #{$def}__text p {
            color: $black-secondary-color;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        margin: 0 0 24px;
        @media (max-width: 767px) {
            align-items: center;
        }

        &-title {
            font-weight: 600;
            font-size: 30px;
            line-height: 1.2;
            color: $white-color;
            padding: 0;
            margin: 50px 0 0;
            transition: all 0.25s;
            @media (max-width: 1680px) {
                font-size: 26px;
                margin: 35px 0 0;
            }
            @media (max-width: 1199px) {
                font-size: 24px;
                margin: 25px 0 0;
            }
            @media (max-width: 767px) {
                font-size: 22px;
                margin: 0;
            }
        }

        &-icon {
            height: 120px;
            width: 120px;
            flex-shrink: 0;
            margin-left: 10px;
            @media (max-width: 1680px) {
                height: 100px;
                width: 100px;
            }
            @media (max-width: 1199px) {
                height: 80px;
                width: 80px;
            }
            @media (max-width: 767px) {
                height: 70px;
                width: 70px;
            }

            svg {
                width: 100%;
                height: 100%;

                path, rect {
                    transition: all 0.25s;
                }
            }
        }
    }

    &__text {
        p {
            font-weight: normal;
            font-size: 20px;
            line-height: 1.5;
            color: $white-color;
            padding: 0;
            margin: 0 0 20px;
            transition: all 0.25s;
            @media (max-width: 1199px) {
                font-size: 18px;
            }
            @media (max-width: 767px) {
                font-size: 16px;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.code-cartoon {
    padding-bottom: 90px;
    @media (max-width: 1199px) {
        padding-bottom: 60px;
    }
    @media (max-width: 991px) {
        padding-bottom: 50px;
    }
    @media (max-width: 575px) {
        padding-bottom: 35px;
    }

    .code-row {
        align-items: flex-end;
        @media (max-width: 991px) {
            flex-direction: column;
            align-items: flex-start;

            .code-col-3, .code-col-6 {
                width: 100%;
            }
        }
    }

    &__author {
        font-weight: normal;
        font-size: 26px;
        line-height: 1.25;
        margin: 0 0 90px;
        @media (max-width: 991px) {
            margin: 0 0 20px;
            font-size: 22px;
        }
        @media (max-width: 767px) {
            font-size: 20px;
        }
    }

    &__wrap {
        position: relative;
        padding-bottom: 90px;
        @media (max-width: 991px) {
            padding-bottom: 70px;
        }
    }

    .swiper-slide {
        width: max-content;
    }

    &__item {
        height: 100%;

        &-image {
            height: 650px;
            margin: 0 0 17px;
            @media (max-width: 1680px) {
                height: 500px;
            }
            @media (max-width: 1199px) {
                height: 450px;
            }
            @media (max-width: 991px) {
                height: 380px;
            }
            @media (max-width: 767px) {
                height: 320px;
            }
            @media (max-width: 575px) {
                height: 240px;
                margin: 0 0 10px;
            }

            img {
                height: 100%;
            }
        }

        p {
            padding: 0;
            margin: 0;
            font-weight: normal;
            font-size: 20px;
            line-height: 1.2;
            @media (max-width: 1199px) {
                font-size: 18px;
            }
            @media (max-width: 767px) {
                font-size: 16px;
            }
            @media (max-width: 575px) {
                font-size: 12px;
                line-height: 14px;
            }
        }
    }

    .cartoon-swiper {
        width: calc(100% + ((100vw - 1620px) / 2));
        @media (max-width: 1680px) {
            width: calc(100% + 30px);
        }
        @media (max-width: 991px) {
            width: 100%;
        }
    }

    .swiper-pagination {
        position: absolute;
        left: 0;
        bottom: 20px;
        font-size: 26px;
        line-height: 1.3;
        text-align: left;
        @media (max-width: 1199px) {
            font-size: 22px;
        }
        @media (max-width: 992px) {
            font-size: 18px;
        }
        @media (max-width: 575px) {
            font-size: 12px;
            line-height: 14px;
            bottom: 14px;
        }

        &-current {
            font-weight: 600;
        }
    }

    .swiper-scrollbar {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background-color: $black-secondary-color;

        &-drag {
            background-color: $black-secondary-color;
            height: 4px;
            top: -3px;
            border-radius: 0;
        }
    }
}

.code-testimonial {
    padding: 20px 0 50px;
    @media (max-width: 767px) {
        padding: 20px 0 20px;
    }

    &__row1 {
        display: flex;
        padding-left: 130px;
        align-items: flex-start;
        @media (max-width: 1680px) {
            padding-left: 0;
        }
        @media (max-width: 1199px) {
            justify-content: space-between;
        }
        @media (max-width: 575px) {
            flex-direction: column;
        }
    }

    &__row2 {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        padding-right: 130px;
        @media (max-width: 1680px) {
            padding-right: 0;
        }
        @media (max-width: 1199px) {
            justify-content: space-between;
        }
        @media (max-width: 575px) {
            flex-direction: column;
            justify-content: flex-start;
        }
    }

    &__item {
        width: 515px;
        padding-bottom: 50px;
        border-bottom: 1px solid $black-secondary-color;
        margin-bottom: 20px;
        margin-right: 170px;
        flex-shrink: 0;

        @media (max-width: 1400px) {
            margin-right: 120px;
        }
        @media (max-width: 1199px) {
            margin-right: 0;
            width: 45%;
        }
        @media (max-width: 991px) {
            padding-bottom: 30px;
        }
        @media (max-width: 767px) {
            width: calc(50% - 15px);
        }
        @media (max-width: 575px) {
            width: 100%;
            margin-bottom: 30px;
            padding-bottom: 20px;
        }

        &:last-child {
            margin-right: 0;
            margin-top: 130px;
            @media (max-width: 575px) {
                margin-top: 0;
                margin-bottom: 35px;
            }
        }

        &-icon {
            margin-bottom: 20px;

            img {
                max-width: 130px;
                max-height: 40px;
                @media (max-width: 767px) {
                    max-height: 30px;
                }
                @media (max-width: 575px) {
                    max-width: 100px;
                    max-height: 20px;
                }
            }
        }

        &-title {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
            margin: 0 0 38px;
            padding: 0;
            @media (max-width: 991px) {
                margin: 0 0 25px;
            }
            @media (max-width: 575px) {
                font-size: 14px;
                line-height: 17px;
                margin: 0 0 5px;
            }
        }

        &-text {
            font-weight: normal;
            font-size: 26px;
            line-height: 1.4;
            margin: 0;
            @media (max-width: 1199px) {
                font-size: 22px;
            }
            @media (max-width: 991px) {
                font-size: 20px;
            }
            @media (max-width: 768px) {
                font-size: 18px;
            }
            @media (max-width: 575px) {
                font-size: 12px;
                line-height: 18px;
            }
        }
    }
}

.code-endorsement {
    padding: 60px 0 70px;
    @media (max-width: 1199px) {
        padding: 30px 0 60px;
    }
    @media (max-width: 768px) {
        padding: 30px 0 40px;
    }
    @media (max-width: 575px) {
        padding: 0 0 30px;
    }

    &__list {
        list-style: none;
        padding: 0;
        margin: 0 -25px;
        display: flex;
        flex-wrap: wrap;
        @media (max-width: 1680px) {
            margin: 0 -15px;
        }
        @media (max-width: 576px) {
            margin: 0 -7px;
        }

        li {
            padding: 0 25px;
            margin: 0 0 50px;
            width: calc(100% / 3);
            flex-shrink: 0;
            @media (max-width: 1680px) {
                padding: 0 15px;
            }
            @media (max-width: 991px) {
                width: 50%;
                margin: 0 0 30px;
            }
            @media (max-width: 575px) {
                margin: 0 0 8px;
                padding: 0 7px;
            }
        }

        li a {
            display: block;
            text-decoration: none;
            padding-bottom: 15px;
            position: relative;
            font-weight: normal;
            font-size: 26px;
            line-height: 1.2;
            color: $white-color;
            transition: all 0.25s;
            @media (max-width: 1399px) {
                font-size: 24px;
            }
            @media (max-width: 1199px) {
                font-size: 22px;
            }
            @media (max-width: 991px) {
                font-size: 20px;
            }
            @media (max-width: 575px) {
                font-size: 12px;
                line-height: 14px;
                padding-bottom: 8px;
            }

            &:after,
            &:before {
                content: '';
                display: block;
                height: 0;
                position: absolute;
                bottom: 0;
                transition: all 0.3s;
            }

            &:after {
                width: 100%;
                right: 0;
                border-bottom: 0.5px solid $white-color;
            }

            &:before {
                left: 0;
                width: 0;
                border-bottom: 0.5px solid $yellow-color;
            }

            &:hover {
                color: $yellow-color;
                text-decoration: none;

                &:after {
                    width: 0;
                }

                &:before {
                    width: 100%;
                }
            }
        }
    }
}

.code-contact {
    display: flex;
    justify-content: center;
    @media (max-width: 991px) {
        flex-direction: column;
    }

    .code-main-block__header-title {
        margin: 0 0 38px;
        @media (max-width: 991px) {
            margin-bottom: 25px;
        }
    }

    &__subtitle {
        padding: 0;
        font-weight: normal;
        font-size: 26px;
        line-height: 1.4;
        margin: 0 0 50px;
        @media (max-width: 1680px) {
            font-size: 20px;
            margin: 0 0 30px;
        }
        @media (max-width: 1400px) {
            font-size: 16px;
        }
        @media (max-width: 575px) {
            font-size: 12px;
            line-height: 18px;
        }
    }

    &__row {
        max-width: 1660px;
        width: 100%;
        @media (max-width: 991px) {
            margin: 0;
        }
    }

    &__col {
        padding: 0 20px;
        width: 50%;
        flex-shrink: 0;
        position: relative;
        @media (max-width: 991px) {
            width: 100%;
            padding: 0 20px;
        }
        @media (max-width: 767px) {
            padding: 0 15px;
        }

        &:first-child {
            @media (max-width: 991px) {
                background-color: $yellow-color;
            }

            &:after {
                content: '';
                display: block;
                height: 100%;
                width: 50vw;
                right: 0;
                top: 0;
                position: absolute;
                background-color: $yellow-color;
                z-index: -1;
                @media (max-width: 991px) {
                    width: 100vw;
                }
            }
        }
    }

    &__wrap {
        padding: 30px 0 100px;
        @media (max-width: 1680px) {
            padding: 30px 0 80px;
        }
        @media (max-width: 767px) {
            padding: 30px 0 50px;
        }
    }

    &__form-wrap {
        display: flex;
        align-items: flex-end;
        @media (max-width: 1400px) {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__form {
        width: calc(100% - 250px);
        border-bottom: 0.5px solid $black-secondary-color;
        @media (max-width: 1680px) {
            width: calc(100% - 230px);
        }
        @media (max-width: 1400px) {
            width: 100%;
        }

        &.border-none {
            border-bottom: none;
        }
    }

    .code-radio-list {
        padding: 20px 0;
        @media (max-width: 575px) {
            padding: 0 0 12px;
        }
    }

    &-btn {
        background-color: $black-secondary-color;
        border: 1px solid $black-secondary-color;
        width: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 22px;
        line-height: 1.3;
        color: $yellow-color;
        padding: 17px 4px;
        cursor: pointer;
        margin-left: 40px;
        transition: all 0.25s;
        @media (max-width: 1680px) {
            font-size: 20px;
        }
        @media (max-width: 1400px) {
            margin-top: 20px;
        }
        @media (max-width: 1199px) {
            margin-left: 0;
        }
        @media (max-width: 575px) {
            width: 150px;
            font-size: 14px;
            line-height: 17px;
            padding: 12px 4px;
        }

        &:hover {
            .icon-yellow-arrow {
                transform: translateX(5px);
            }
        }

        .icon-yellow-arrow {
            width: 18px;
            height: 25px;
            margin-left: 9px;
            background-image: url("../images/arrow-right-yellow.svg");
            transition: all 0.25s;
            @media (max-width: 575px) {
                width: 14px;
            }
        }
    }

    &__footer {
        display: flex;
        padding-top: 110px;
        justify-content: space-between;
        align-items: flex-end;
        @media (max-width: 1400px) {
            padding-top: 80px;
        }
    }

    &-link {
        font-size: 18px;
        line-height: 1.3;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.25s;
        color: $black-secondary-color;
        position: relative;
        @media (max-width: 768px) {
            font-size: 18px;
        }
        @media (max-width: 575px) {
            font-size: 12px;
            line-height: 14px;
        }

        &:hover {
            text-decoration: none;
            color: $black-secondary-color;

            &:after {
                width: 100%;
            }
        }

        &:after {
            content: '';
            display: block;
            width: 0;
            transition: all 0.25s;
            height: 0;
            border-bottom: 1px solid $black-secondary-color;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}


.link-instagram {
    display: flex;
    align-items: center;
    transition: all 0.25s;
    color: $black-secondary-color;
    font-size: 26px;
    line-height: 1.3;
    text-decoration: none;
    position: relative;
    @media (max-width: 1400px) {
        font-size: 22px;
    }
    @media (max-width: 768px) {
        font-size: 18px;
    }
    @media (max-width: 575px) {
        font-size: 14px;
        padding-bottom: 4px;
    }

    &:hover {
        span {
            transform: translate(5px, -5px);
        }
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        border-bottom: 1px solid $black-secondary-color;
    }

    span {
        display: block;
        width: 19px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url("../images/arrow-top.svg");
        flex-shrink: 0;
        margin-left: 10px;
        transition: all 0.25s;
        @media (max-width: 1400px) {
            width: 12px;
            height: 12px;
        }

        svg {
            height: 100%;
            width: 100%;
            transition: all 0.25s;
        }
    }
}
