.code-test-page {
  padding: 0;

  &__back {
    display: none;
    @media(max-width: 991px) {
      display: block;
      width: 18px;
      transform: rotate(180deg);
      margin-bottom: 25px;
      cursor: pointer;

      img {
        width: 100%;
      }
    }
  }

  &__title {
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin: 0 0 80px;
    padding: 0;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.23;
    @media (max-width: 1199px) {
      font-size: 26px;
      margin: 0 0 60px;
    }
    @media (max-width: 767px) {
      font-size: 24px;
      margin: 0 0 40px;
    }

    &:before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      flex-shrink: 0;
      margin-right: 20px;
      border-radius: 50%;
      background-color: $black-secondary-color;
    }
  }

  &__wrap {
    align-items: flex-start;
    @media (max-width: 991px) {
      flex-direction: column;
    }
  }

  &__aside {
    flex-shrink: 0;
    width: 550px;
    @media (max-width: 1400px) {
      width: 400px;
    }
    @media (max-width: 1199px) {
      width: 340px;
    }
    @media (max-width: 991px) {
     width: 100%;
    }

    &-title {
      font-weight: 600;
      font-size: 30px;
      line-height: 1.13;
      padding: 0;
      margin: 0 0 20px;
      @media (max-width: 1400px) {
        font-size: 26px;
      }
      @media (max-width: 1199px) {
        font-size: 24px;
      }
      @media (max-width: 991px) {
        margin: 0 0 30px;
      }
      @media (max-width: 575px) {
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 20px;
      }
    }
  }

  &__content {
    flex-grow: 1;
  }

  &__question {
    position: relative;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 60px;
    @media (max-width: 991px) {
      font-size: 16px;
      margin: 0 0 40px;
    }
    @media (max-width: 575px) {
      font-size: 14px;
      line-height: 22px;
      margin: 0 0 30px;
    }

    &-number {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      left: -80px;
      font-weight: 600;
      font-size: 26px;
      line-height: 1.3;
      @media (max-width: 1400px) {
        left: -50px;
        font-size: 24px;
      }
      @media (max-width: 991px) {
        position: relative;
        left: 0;
        top: 0;
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
        margin: 0;
      }
    }

    &-arrow {
      display: block;
      width: 18px;
      height: 32px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url("../images/arrow-right.svg");
      margin-left: 10px;
      flex-shrink: 0;
      @media (max-width: 1400px) {
        width: 15px;
        height: 25px;
        margin-left: 5px;
      }
      @media (max-width: 991px) {
        display: none;
      }
    }
  }

  &__footer {
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-top: 55px;
    padding-bottom: 28px;
    border-bottom: 0.5px solid $black-secondary-color;

    @media (max-width: 767px) {
      margin-top: 40px;
      padding-bottom: 14px;
    }

    &-progress {
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3.5px;
      background-color: $black-secondary-color;
    }
  }

  &__pagination {
    display: flex;
    align-items: center;

    &-title {
      font-weight: 600;
      font-size: 26px;
      line-height: 1.25;
      display: block;
      margin-right: 38px;
      @media (max-width: 1199px) {
        font-size: 22px;
        margin-right: 25px;
      }
      @media (max-width: 767px) {
        font-size: 20px;
      }
      @media (max-width: 575px) {
        font-size: 12px;
        line-height: 15px;
        margin-right: 10px;
      }
    }

    &-number {
      display: flex;
      align-items: center;
      font-size: 26px;
      line-height: 32px;
      @media (max-width: 1199px) {
        font-size: 22px;
      }
      @media (max-width: 767px) {
        font-size: 20px;
      }
      @media (max-width: 575px) {
        font-size: 12px;
        line-height: 15px;
      }
      .current {
        font-weight: 600;
      }
    }
  }

  &__next {
    text-decoration: none;
    transition: all 0.25s;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.25;
    color: $black-secondary-color;
    position: relative;
    @media (max-width: 1199px) {
      font-size: 22px;
    }
    @media (max-width: 767px) {
      font-size: 20px;
    }
    @media (max-width: 575px) {
      font-size: 12px;
      line-height: 15px;
    }

    &:after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-bottom: 1px solid $black-secondary-color;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      opacity: 0;
      transition: all 0.25s;
    }

    &:hover {
      text-decoration: none;
      color: $black-secondary-color;
      &:after {
        opacity: 1;
        width: 100%;
      }
    }
  }
}

.code-test {
  &-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
    border: 1px solid $black-secondary-color;
    background-color: $white-color;
    box-sizing: border-box;
    min-height: 200px;
    transition: all 0.25s;
    cursor: pointer;
    text-decoration: none;
    margin: 0 0 40px;
    font-size: 24px;
    line-height: 1.2;
    color: $black-secondary-color;
    @media (max-width: 1680px) {
      font-size: 22px;
    }
    @media (max-width: 1400px) {
      font-size: 20px;
      padding: 20px;
    }
    @media (max-width: 991px) {
      font-size: 18px;
      margin: 0 0 30px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
      min-height: 150px;
    }
    @media (max-width: 575px) {
      min-height: 70px;
      margin: 0 0 20px;
      text-align: left;
      justify-content: flex-start;
      padding: 10px 20px;
      font-size: 14px;
      line-height: 17px;
    }

    &:hover {
      background-color: $black-color;
      color: $yellow-color;
    }

    span {
      display: none;
      @media (max-width: 575px) {
        display: contents;
        padding-right: 5px;
      }
    }
  }
}


.code-test-checkbox {
  margin: 0 0 30px;
  $checkbox: &;
  @media (max-width: 575px) {
    margin-bottom: 20px;
  }

  input {
    display: none;
  }

  &__label {
    display: flex;
    align-items: flex-start;
    background: $light-bg;
    border: 1px solid $light-gray-color;
    box-sizing: border-box;
    min-height: 120px;
    padding: 25px 30px 20px;
    cursor: pointer;
    font-size: 16px;
    line-height: 1.6;
    transition: all 0.25s;
    @media (max-width: 767px) {
      padding: 20px;
    }
    @media (max-width: 575px) {
      padding: 10px 10px 16px;
      font-size: 12px;
    }

    &-letter {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      background-color: $white-color;
      flex-shrink: 0;
      margin-right: 27px;
      margin-top: 5px;
      font-weight: 600;
      font-size: 26px;
      line-height: 1;
      border: 1px solid $light-gray-color;
      box-sizing: border-box;
      @media (max-width: 767px) {
        width: 34px;
        height: 34px;
        font-size: 20px;
        margin-right: 15px;
      }
      @media (max-width: 575px) {
        width: 30px;
        height: 30px;
        font-size: 18px;
        margin-right: 10px;
      }
    }
  }

  input:checked + #{$checkbox}__label {
    background-color: $black-secondary-color;
    color: $white-color;

    #{$checkbox}__label-letter {
      background-color: $yellow-color;
      color: $black-secondary-color;
    }
  }
}


.code-success-message {
  text-align: center;
  padding: 210px 0;
  font-weight: 600;
  font-size: 30px;
  line-height: 34px;
  @media (max-width: 1199px) {
    padding: 150px 0;
  }
}
