/*colors*/
$white-color: #ffffff;
$black-color: #000000;
$yellow-color: #E9FF34;
$yellow-color-hover: #ffe10c;
$black-secondary-color: #1D1D1D;
$light-bg: #F6F5F4;
$light-gray-color: #C4C4C4;


/*font*/

$font-family-gilroy: 'Gilroy', sans-serif;
